*{
    -ms-overflow-style: none;    /* IE, Edge */
    scrollbar-width: none;       /* Firefox */
}
*::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
  }
  

body{margin:0px;
    user-select: none;
    background-color: black;
}

#info{
    position:absolute;
    top: 10px;
    width:100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: aqua;
    user-select: none;
}

#playeradding{
    display: none;
    color:white;
    position:absolute;
    text-align: center;
    width:100%;
    top:20%;
    font-size: 3vw;
    
}



.playerlist{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2ch;
    display: block;
}

#titleUI{
    position:absolute;
    color:white;
    bottom: 50%;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
#title{
    font-size: 10vw;
}

#texture{
    position:absolute;
}